Old Projects/
test.*
.vscode
Phase 1/
!lexer.l
!parser.y
Testcases/

lexer.c
parser.c
parser.h
lexer.cpp
parser.cpp
parser.hpp
parser.output
program.exe
quadruple.txt
semantic-error.txt
syntax-error.txt
symbol-tables.txt